body, html{
  height:100%;
}
body{
  background-image: url("http://images2.layoutsparks.com/1/130431/pink-disco-balls-light.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: black;
  margin: 0px;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .lineUpButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid #ff66d5;
  border-radius:10px;
  position:absolute;
}
